---
const faq = [
  {
    question: `What is the cost of developing and maintaining a website?`,
    answer: `Custom sites are costly. We offer affordable, transparent pricing with no hidden fees.`,
  },
  {
    question: `Should I choose a template-based website or opt for a custom design?`,
    answer: `Templates are generic, custom is pricey. We offer tailored designs at template prices.`,
  },
  {
    question: `How will I drive traffic to my website?`,
    answer: `SEO is key but complex. Our sites are SEO-optimized from the start for visibility.`,
  },
  {
    question: `What content and features should my website include to effectively engage clients?`,
    answer: `Standard sites miss key features. We include essential tools to engage visitors and leads.`,
  },
  {
    question: `How can I integrate MLS listings into my website?`,
    answer: `MLS integration can be complex and costly. We offer seamless, effortless MLS integration.`,
  },
  {
    question: `Do I need technical skills to manage my website?`,
    answer: `Many platforms need tech skills for updates. Our platforms are easy to use with clear documentation.`,
  },
];---

<section>
  <div class="inner space-y-8 py-24">
    <div class="stack text-center">
      <h2 class="font-bold text-4">Here are some Need-to-knows</h2>
    </div>
    <div class="faq-list">
      <ul>
        {
          faq.map((q) => (
            <li class="py-4">
              <div class="max-w-[60ch] mx-auto text-center">
                <p class="font-semibold text-1 underline underline-offset-2 decoration-2">
                  {q.question}
                </p>
                <p>{q.answer}</p>
              </div>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="btn-row pt-8 flex gap-6 flex-wrap justify-center">
      <a 
      target="_blank"
      href="https://cal.com/cmmutale/918realestatewebsites" 
      class="btn btn-primary btn-lg"> Start Selling Homes </a>
      <a href="/blog" class="btn btn-secondary btn-md"
        >📝 Learn more on our blog</a
      >
    </div>
  </div>
</section>
