---

---

<section class="wrapper">
  <div class="inner py-24 space-y-10">
    <div class="stack">
      <h2 class="font-bold text-4 text-center mx-auto max-w-[40ch]">
        We Design Fast, Affordable Websites for Real Estate Teams Who Want
        Results
      </h2>
    </div>
    <div class="card-gallery grid grid-cols-1 text-center">
      <div class="p-6">
        <h4 class="font-body font-medium text-1">
          Look professional on phones, tablets, and desktops
        </h4>
      </div>
      <div class="p-6">
        <h4 class="font-body font-medium text-1">
          Showcase your listings beautifully
        </h4>
      </div>
      <div class="p-6">
        <h4 class="font-body font-medium text-1">
          Highlight your family values & community roots
        </h4>
      </div>
      <div class="p-6">
        <h4 class="font-body font-medium text-1">
          Load fast and rank on Google
        </h4>
      </div>
      <div class="p-6">
        <h4 class="font-body font-medium text-1">
          Easy to maintain and update
        </h4>
      </div>
      <div class="p-6">
        <h4 class="font-body font-medium text-1">
          Launch in as little as 12 days
        </h4>
      </div>
    </div>
    <div class="button-row flex justify-center mx-auto">
      <button class="btn btn-lg btn-secondary"
        >Get a Free Website Strategy Session</button
      >
    </div>
  </div>
</section>
