---
import { Image } from "astro:assets";
import WebsiteScreenShot from "../../assets/website_screenshot.png";
import WebsiteScreenShot2 from "../../assets/website_screenshot_1.png";

const notebook = {
  heading: `Sell More Homes Before the First Showing`,
  body: `We create high converting websites for family owned real estate businesses in Tulsa and Austin to help you close more deals.`,
};
---

<section class="hero py-24">
  <div class="flex flex-wrap items-center space-y-10 sm:space-y-0">
    <div class="stack space-y-4 w-full sm:w-[35%] grow">
      <h1 class="font-bold font-display text-5">{notebook.heading}</h1>
      <p class="text-1 text-secondary">{notebook.body}</p>
      <div class="btn-row pt-8 flex gap-6 flex-wrap">
        <button class="btn btn-primary btn-lg"> Start Selling Homes </button>
        <button class="btn btn-secondary btn-md"
          >Get a A Free Strategy Session</button
        >
      </div>
    </div>
    <div class="w-full sm:w-[35%] grow">
      <div class="relative my-auto">
        <!-- <Image
            src={WebsiteScreenShot}
            width={400}
            alt={`website screenshot`}
            class={`absolute`}
          /> -->

        <Image
          src={WebsiteScreenShot2}
          width={400}
          alt={`website screenshot`}
          class={`mx-auto`}
        />
      </div>
    </div>
  </div>
</section>
