---

---

<section id="pricing" class="wrapper">
  <div class="inner py-24 space-y-10">
    <div class="stack">
      <h2 class="font-bold text-4 text-center mx-auto max-w-[40ch]">
        Packages for every stage of growth
      </h2>
    </div>
    <stripe-pricing-table
      pricing-table-id="prctbl_1RCoZHLDW6FJjSFUE4DAbMPB"
      publishable-key="pk_live_51OMgwGLDW6FJjSFUnt90naRZhXx4NlInuRtvDQx56gBYvFp00CkIdM2fclTK8RHwz9Q45xhLZ9OOFk0uETYFS26o005nwk0ezI"
    >
    </stripe-pricing-table>

    <div class="button-row flex justify-center mx-auto">
        <button class="btn btn-lg btn-secondary"
          >Not Sure? Start with some Questions</button
        >
      </div>
  
</div>
</section>
