---
import { Image } from "astro:assets";
import listingBadge from "../../assets/listing_badge.png";

const features = [
  {
    label: `Look professional on phones, tablets, and desktops`,
    image: ``,
  },
  {
    label: `Showcase your listings beautifully`,
    image: ``,
  },
  {
    label: `Highlight your family values & community roots`,
    image: ``,
  },
  {
    label: `Load fast and rank on Google`,
    image: ``,
  },
  {
    label: `Easy to maintain and update`,
    image: ``,
  },
  {
    label: `Launch in as little as 12 days`,
    image: ``,
  },
];
---

<section class="wrapper">
  <div class="inner py-24 space-y-10">
    <div class="stack">
      <h2 class="font-bold text-4 text-center mx-auto max-w-[40ch]">
        We Design Fast, Affordable Websites for Real Estate Teams Who Want
        Results
      </h2>
    </div>
    <div class="card-gallery text-center">
      {
        features.map((feature) => (
          <div class="p-6">
            <div class="p-4 bg-primary-foreground/50 rounded-xl w-fit mx-auto relative
            hover:outline-none hover:ring-4 ring-primary ring-offset-4 duration-300">
              <h4 class="font-body font-medium text-1 grow">{feature.label}</h4>
            </div>
          </div>
        ))
      }
    </div>
    <div class="button-row flex justify-center mx-auto">
      <a
        href="https://tally.so/r/3jE9xE"
        target="_blank"
        class="btn btn-lg btn-primary">Get a Free Website Strategy Session</a
      >
    </div>
  </div>
</section>
