---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog - 918realestatewebsites.com">
  <div class="page-wrapper">
    <div class="page-inner">
      <section>
        <div class="inner py-12 space-y-8">
          <div class="stack">
            <h1 class="text-4 font-bold">Learn About Real Estate Online</h1>
          </div>
          <div>
            <ul>
                <li>
                    <a href="/posts/building-your-own-mls/" class="btn btn-lg btn-secondary">Building and integrating your own MLS</a>
                </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</Layout>
