---
import Layout from "../layouts/Layout.astro";
import Features from "../component/sections/Features.astro";
import Hero from "../component/sections/Hero.astro";
import Pricing from "../component/sections/Pricing.astro";
import Benefits from "../component/sections/Benefits.astro";
import Faq from "../component/sections/Faq.astro";
import CallToAction from "../component/sections/CallToAction.astro";
import Footer from "../component/sections/Footer.astro";
---

<Layout title="Build your listings online - 918realestatewebsites.com">
  <div class="page-wrapper">
    <div class="page-inner">
      <Hero />
      <Features />
      <Pricing />
      <Benefits />
      <Faq />
      <CallToAction />
      <Footer />
    </div>
  </div>
</Layout>
